@import "../../app/breakpoints.scss";

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  max-width: 90vw;

  overflow: hidden;

  h1,
  p {
    position: absolute;
    bottom: 4rem;
    max-width: 20rem;
  }

  h1 {
    left: 2rem;
    font-size: 3rem;
  }

  p {
    right: 2rem;
  }
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 55rem;

  font-size: 15vw;
  font-family: var(--font-duru-sans);

  color: transparent;
  -webkit-text-stroke: 3px #ffffff28;
}

@include media("<tabletLarge") {
  .hero {
    h1,
    p {
      position: static;
    }
  }

  .background {
    height: 20rem;
    -webkit-text-stroke: 1px #ffffff28;
  }
}
