@use "./_breakpoints";

.section1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  padding-bottom: 3rem;

  height: 55rem;
  h1,
  p {
    max-width: 20rem;
  }

  h1 {
    font-size: 3rem;
  }
}

@include breakpoints.media("<tablet") {
  .section1 {
    flex-direction: column;
    align-items: center;

    height: 40rem;
  }
}
