.container {
  position: relative;
}

.background {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  z-index: -1;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100%;
}

.text {
  font-size: 14cqw; // resolver isso

  color: transparent;
  -webkit-text-stroke: 2px #ffffff28;
}

.content {
  flex-grow: 1;
  min-height: 30rem; // apagar e deixar que o componente o defina
}
